@import nib

body
  background-color #DDD


//-----------------------\\
//   Menu definitions    \\
//-----------------------\\

nav
  background-color #333
  color #DDD
  list-style-type none
  margin 0px -10px 10px 
  
  a:hover
    background-color #555

  a
  a:visited
    padding 15px 20px 15px -10px
    text-align center
    margin 5px
    display inline-block
    height 20px
    color #DDD
    text-decoration none
    
//
    
#ordlist
  width 300px
  padding 0
  margin 0
    
  button
    color transparent
    width 52px
    height 44px
    margin 0px
        
article
  width 300px
  margin 0 auto
  

//-----------------------\\
// SVG style definitions \\
//-----------------------\\

#controller
  padding 0px 0px 0px 44px
  //background-color lightgray
  button
    padding 0
    height 60px
    width 60px

#compPlayButton
  margin 5px 0px 0px 0px

.play
  fill lime
  stroke darken(lime, 20%)
  stroke-width 2px

#record
  fill red

#shoulders
#head
  fill black

#screen
  fill white
  stroke silver
  stroke-width 3px

#plate
  fill silver

#pad
  fill gray


