@import nib

body
  background-color #DDD


//-----------------------\\
//   Menu definitions    \\
//-----------------------\\

nav
  background-color #333
  color #DDD
  list-style-type none
  margin 0px -10px 10px 
  
  a:hover
    background-color #555

  a
  a:visited
    padding 15px 20px 15px -10px
    text-align center
    margin 5px
    display inline-block
    height 20px
    color #DDD
    text-decoration none
    
#ordlist
  //width 200px
  overflow-x hidden
  ul
    display block
    li
      display inline-block
      text-align center
      
      button
        color transparent
        width 52px
        height 44px
        margin 10px
        
article
  width 500px
  margin 0 auto
  

//-----------------------\\
// SVG style definitions \\
//-----------------------\\

#controller
  div
    margin 0
  button
    padding 0
    height 60px
    width 60px
    #compPlayButton
      margin 5px 0px 0px 0px

.play
  fill lime
  stroke darken(lime, 25%)
  stroke-width 2px

#record
  fill red
  stroke black
  stroke-width 2px

#head
  fill black

#shoulders
  fill black

#compPlayButton
  //height 50px
  //width 50px
  //perspective 100px

//#play
//  position absolute
//  z-index 1

#screen
  fill white
  stroke silver
  stroke-width 3px

#keyboard
  height 30px
  width 50px
  //transform rotateX(60deg) translateY(-24px)
  g rect
    fill black

#plate
  fill silver

#pad
  fill gray


