@import nib

body
  background-color #DDD


//-----------------------\\
//   Menu definitions    \\
//-----------------------\\

#menu
  display: inline-block;
  background-color #333
  color #DDD
  list-style-type none
  text-align center

  a
  a:hover
  a:visited
    color #DDD

//-----------------------\\
// SVG style definitions \\
//-----------------------\\

.icon
  height 50px
  width 50px
  //perspective 10px

.play
  fill lime
  stroke darken(lime, 25%)
  stroke-width 2px

#record
  fill red
  stroke black
  stroke-width 2px

#head
  fill black

#shoulders
  fill black

#compPlayButton
  height 50px
  width 50px
  perspective 100px

#play
  position absolute
  z-index 1

#screen
  transform translateZ(-24px)
  rect
    fill white
    stroke silver
    stroke-width 3px

#keyboard
  height 30px
  width 50px
  transform rotateX(60deg) translateY(-24px)
  g rect
    fill black

#plate
  fill silver

#pad
  fill gray


