svg(xmlns="http://www.w3.org/2000/svg", xmlns:xlink="http://www.w3.org/1999/xlink")
  rect(x="0", y="0", width="50", height="30", fill="silver")
  g
    - for(var y = 3; y < 14; y += 4)
      - for(var x = 3; x < 45; x += 4)
        rect(x=x, y=y, width="3", height="3", fill="black")
  rect(x="18", y="18", width="14", height="8", fill="grey")
