mixin headers(headers, list)
  thead
    tr
      for header in headers
        th= header
      th: button(ng:click="add(#{list})") Add
  tfoot
    tr
      for header in headers
        th= header
      th: button(ng:click="add(#{list})") Add
